body {
  background-color: black;
  color: black;
}

#opacity-slider {
  -webkit-appearance: none;
  height: 4px;
}

#opacity-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #eee;
  height: 20px;
  width: 10px;
  opacity: .7;
  border-radius: 25px;
}
