@import "main.css";

#PauseB {
  width: 600px;
  height: 50px;
  margin: 10px;
  background-color: #FF9627 ;
}

#CancelB {
  width: 600px;
  height: 50px;
  margin: 10px;
  background-color: #545151;
  color: white
}