@import "main.css";

#PauseB {
  width: 600px;
  height: 100px;
  margin: 10px;
  background-color: #e1ad76 ;
}

#CancelB {
  width: 600px;
  height: 60px;
  margin: 10px;
  background-color: #b3acac;
  color: rgb(31, 31, 31)
}