@import "main.css";

#PauseB {
  width: 600px;
  height: 100px;
  margin: 10px;
  background-color: #E5B557 ;

}
#CancelB {
  width: 600px;
  height: 100px;
  margin: 10px;
  background-color: #C4C4C4;
  color: rgb(31, 31, 31);
}

