html {
  font-size: 16px;
}
body {
  height: 600px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;

  border: 5px solid #7D83A4;
  background-color: #E3E6F5;
  text-align: center;

  font-size: 16px;
}

input {
  height: 90px;
  width: 450px;
  font-size: 30px;
  text-align: center;
  
  margin-bottom: 10px;
}

button {
  left: 0px;
  width: 250px;
  height: 80px;
  font-size: 30px;
  background-color:#C4C9E7 ;
  border: 1px solid#A1A6C2 ;
}
button:hover {
  background-color:#a4aacd ;
  cursor: pointer;
}
#enter {
  width: 758px;
  background-color:#A7C8D4 ;
}
#enter:hover {
  background-color:#8ba3af ;
  cursor: pointer;
}