@import "main.css";

button {
  font-size: 25px;
}
p.review{
  margin-left: 60px;
  text-align: left;
  font-size: 25px;
  line-height: 10px;
}
#printlink{
  position: absolute;
  top: 220px;
  left: 800px;
  text-decoration: underline;
  color: rgb(55, 90, 232);
}
#sidelink{
  position: absolute;
  top: 330px;
  left: 800px;
  text-decoration: underline;
  color: rgb(55, 90, 232);
}
#separatorlink{
  position: absolute;
  top: 410px;
  left: 800px;
  text-decoration: underline;
  color: rgb(55, 90, 232);
}
#line{
  color: rgb(178, 193, 221);
}
#yes {
  width: 650px;
  height: 70px;
  border-radius: 4px;
  background-color:#7cb57c;
  margin-left: 150px;
  font-size:40px;
}
#yes:hover {
  background-color:#abceab;
}
