@import "main.css";

#yes {
  width: 350px;
  height: 100px;
  background-color:#00FF00;
}
#yes:hover {
  width: 350px;
  height: 100px;
  background-color:#228B22;
}
#yes:active {
  width: 350px;
  height: 100px;
  background-color:#228B22;
}


#no {
  width: 350px;
  height: 100px;
  background-color:#FF0000;
}
#no:hover {
  width: 350px;
  height: 100px;
  background-color:#8b0000;
}

#no:focus {
  width: 350px;
  height: 100px;
  background-color:#8b0000;
}

#seperator{
    width: 200px;
    height: 100px;
}

#enter {
  width: 700px;
  height: 100px;
  background-color:#A7C8D4 ;
}
#enter:hover {
  background-color:#8ba3af ;
  cursor: pointer;
}