@import "main.css";

/* Side page buttons*/
#Sides p{
  text-align: left;
  margin-left: 50px;
}

#yes {
  margin-left: 25px;
  margin-right: 25px;
  width: 220px;
  height: 70px;
  border-radius: 4px;
  background-color:#5fb15f;
}
#yes:hover {
  background-color:#a9dda9;
  cursor: pointer;
}

#no {
  margin-left: 25px;
  margin-right: 25px;
  width: 220px;
  height: 70px;
  border-radius: 4px;
  background-color:#cd7b7b;
}
#no:hover {
  background-color:#d3aeae;
  cursor: pointer;
}
